.container {
  width: 100%;
  min-height: 1000px;
  height: 100%;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.heroVideo {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 1;
  transition: 1s ease;
}

.aboutContainer {
  max-width: 1600px;
  position: relative;
  margin: 0 auto;

  top: 180px;
  padding-left: 50px;

  z-index: 50;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.aboutTitle {
  max-width: 485px;
  color: #fff;
  font-family: "Instrument Serif";
  font-size: clamp(68px, 6vw, 86px);
  font-style: normal;
  font-weight: 400;
  line-height: 132%;
  letter-spacing: -3.44px;
  text-transform: capitalize;
}

.aboutTitle span {
  color: #2de046;
  font-family: "Instrument Serif";
  font-size: clamp(68px, 6vw, 86px);
  font-style: normal;
  font-weight: 400;
  line-height: 132%;
  letter-spacing: -3.44px;
  text-transform: capitalize;
}

.heroDescriptionContainer {
  max-width: 1200px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;

  gap: clamp(40px, 23.33vw, 280px);
}

.practiceAreasFirstContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 32px;
  padding-left: 22px;
  border-left: 1px solid #083376;
}

.firstContainerTitle {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 8px;
  font-size: clamp(14px, 1.81vw, 18px);
  font-weight: 500;
  line-height: 132%;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  font-family: "Instrument Sans";

  color: #fff;
}

.firstContainerTitle div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #2de046cc;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  gap: clamp(8px, 1.09vw, 12px);
}

.link {
  color: #8d8d8d;
  font-family: "Instrument Sans";
  font-size: clamp(16px, 1.81vw, 20px);
  font-weight: 400;
  line-height: 132%;
  letter-spacing: -0.4px;
  text-transform: capitalize;
  cursor: pointer;

  transition:
    background-color 5s ease,
    color 0.3s ease;
}
.link:hover {
  color: #ffffff;
}

.activeLink {
  color: #fff;
  font-family: "Instrument Sans";
  font-size: clamp(16px, 3.52vw, 24px);
  font-weight: 500;
  line-height: 132%;
  letter-spacing: -0.48px;
  text-transform: capitalize;
}

.containerSecondColumn {
  display: flex;
  flex-direction: column;
  gap: 24px;

  max-width: 613px;
  flex-shrink: 0;
}

.secondContainerTitle {
  font-size: clamp(32px, 3.52vw, 42px);
  font-weight: 400;
  line-height: 132%;
  letter-spacing: -0.84px;
  font-family: "Instrument Serif";

  color: #fff;
}

.secondContainerDescription {
  max-width: 600px;

  color: #8d8d8d;
  font-size: clamp(16px, 1.45vw, 18px);
  font-weight: 400;
  line-height: 132%;
  letter-spacing: -0.36px;
  font-family: "Instrument Sans";
}

.linkDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: clamp(14px, 1.45vw, 18px);
  font-weight: 500;
  line-height: 132%;
  letter-spacing: -0.36px;
  text-decoration-line: underline;
  text-transform: uppercase;
  font-family: "Instrument Sans";

  color: #fff;
}

.arrowIcon {
  margin-left: -10px;
}

@media (max-width: 1063px) {
  .secondContainerDescription {
    max-width: 400px;
  }
}
@media (max-width: 796px) {
  .heroDescriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .secondContainerDescription {
    max-width: 600px;
  }
  .linkContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(8px, 1.09vw, 12px);
  }
  .aboutContent {
    gap: 20px;
  }
}

@media (max-width: 420px) {
  .aboutContainer {
    top: 70px;
  }
}
