.container {
  width: 100%;
  height: fit-content;
  padding: 48px 0;
  border-bottom: 1px solid #083376;
  font-size: 36px;
  letter-spacing: calc(36px * -0.04);
  text-transform: uppercase;
  text-wrap: pretty;
}

.innerContainer {
  max-width: 1500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.prevNextLink {
  color: #2de046;
  text-decoration: underline;
}

.backLink {
  color: #8d8d8d;
  text-decoration: underline;
}