.button {
  display: flex;
  align-items: center;
  width: auto;
  height: 36px;
  padding: 10px 26px;

  /* font-family: "Instrument Sans"; */
  font-size: 14px;
  font-weight: 500;
  line-height: 132%;
  letter-spacing: -0.28px;
  text-transform: uppercase;

  color: #fff;
  border: 1px solid #2de046;
  background: rgba(45, 224, 70, 0.1);
  transition: background 0.3s, border-color 0.3s;

  cursor: pointer;
}
.button:hover {
  color: #fffc;
  background: rgba(45, 224, 70, 0.4);
}

.button:disabled {
  cursor: not-allowed;
}
