.practiceAreasSection {
  border-top: 1px solid #083376;
}
.practiceAreasContainer {
  width: 100%;
  height: fit-content;
}

.practiceAreasContent {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.practiceAreasHeaderWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #083376;
  padding: 45px 48px;
}
.headerTitle {
  font-size: clamp(50px, 8.42vw, 84px);
  font-weight: 400;
  letter-spacing: 0.84px;
  text-transform: capitalize;
  font-family: "Instrument Serif";

  color: #fff;
}

.itemContaiter {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 48px 60px;
  gap: 24px;
}

.linksContainer {
  position: relative;
  max-width: 485px;
}

.imageDetails {
  width: 485px;
  height: 526px;

  position: relative;
  z-index: 20;
}

.labelContainer {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;

  gap: 14px;
  padding-left: 30px;
  padding-bottom: 70px;

  z-index: 100;
}

.labelTitle {
  font-size: clamp(18px, 2.43vw, 28px);
  font-weight: 500;
  line-height: 132%;
  letter-spacing: -0.56px;
  font-family: "Instrument Sans";

  color: #fff;
}

.linkDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 132%;
  letter-spacing: -0.36px;
  text-decoration-line: underline;
  text-transform: uppercase;
  font-family: "Instrument Sans";

  color: #fff;
}

.arrowIcon {
  margin-left: -10px;
}

@media (max-width: 998px) {
  .itemContaiter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imageDetails {
    width: 450px;
    height: 456px;
  }
}

@media (max-width: 586px) {
  .practiceAreasHeaderWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }

  .imageDetails {
    width: 350px;
    height: 356px;
  }
}
