.pageHeaderContainer {
  width: 100%;
  height: fit-content;

  padding: 108px 16px 72px;
}

.pageHeaderWrapper {
  max-width: 1500px;
  width: 100%;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pageHeaderTitle {
  font-size: clamp(68px, 6vw, 86px);
  font-weight: 400;
  font-family: var(--font-instrument-serif);
  text-transform: capitalize;
}

.pageHeaderDescription {
  max-width: 450px;
  width: 100%;

  font-size: clamp(18px, 1.82vw, 26px);
  font-weight: 400;
  letter-spacing: calc(26px * -0.02);
  text-transform: uppercase;
  text-align: right;
}

@media (max-width: 700px) {
  .pageHeaderContainer {
    padding: 8px 16px 42px;
  }

  .pageHeaderWrapper {
    display: flex;
    flex-direction: column;
  }

  .pageHeaderTitle {
    align-self: flex-start;
    text-align: left;
    margin-bottom: 12px;
  }

  .pageHeaderDescription {
    align-self: flex-end;
    text-align: right;
  }
}
