.overviewCardContainer {
  width: 100%;
  height: fit-content;
}

.overviewCardContent {
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.homeLayout {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.cardWrapper {
  height: auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background: #000208;
}

.cardInfoContainer {
  height: 350px;
  padding: 48px;
  gap: clamp(8px, 1.89vw, 18px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #083376;
}

.cardSubtitle {
  font-size: clamp(12px, 1.29vw, 16px);
  font-weight: 400;
  line-height: 132%;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  /* font-family: "Instrument Sans"; */

  color: #8d8d8d;
}

.cardTitle {
  font-size: clamp(16px, 1.93vw, 24px);

  font-weight: 500;
  line-height: 132%;
  letter-spacing: -0.48px;

  /* font-family: "Instrument Sans"; */
  color: #fff;
}

.cardDescription {
  font-size: clamp(14px, 1.45vw, 18px);
  font-weight: 400;
  line-height: 132%;
  letter-spacing: -0.36px;
  /* font-family: "Instrument Sans"; */

  color: #8d8d8d;
}

.cardLink {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: clamp(14px, 1.45vw, 18px);
  font-weight: 500;
  line-height: 132%;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  /* font-family: "Instrument Sans"; */
  text-decoration-line: underline;

  color: #fff;
}

.cardLink icon {
  margin-left: 32px;
}

@media (max-width: 780px) {
  .overviewCardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cardWrapper {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cardInfoContainer {
    border: none;
    align-items: flex-start;
  }
}
