.contactUsTodayContainer {
  widh: 100%;
  height: fit-content;
  padding: 48px;
}

.contactUsTodayContent {
  max-widh: 923px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.contactUsTodayHeader {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.description {
  font-size: 18px;
  font-weight: 400;
  line-height: 132%;
  letter-spacing: -0.36px;
  /* font-family: "Instrument Sans"; */
  margin-top: 14px;
  margin-bottom: 12px;
  color: #fff;
}

.descriptionContentLinks {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  gap: 4px;
}

.linkUnderline {
  font-size: 18px;
  font-weight: 400;
  line-height: 132%;
  letter-spacing: -0.36px;
  /* font-family: "Instrument Sans"; */
  text-decoration: underline;
  color: #fff;
}
