.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: clamp(32px, 2.36vw, 42px);
  text-transform: uppercase;
  letter-spacing: calc(42px * -0.04);
  text-wrap: pretty;
}

.podcastLinks {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.link {
  width: fit-content;
  height: 64px;
}

.image {
  max-width: 240px;
  width: fit-content;
  height: 64px;
  object-fit: contain;
}

@media (max-width: 625px) {
  .container {
    display: flex;
    align-items: center;
  }
  .image {
    max-width: 180px;
  }
}
