.headerContainer {
  width: 100%;
  height: fit-content;
  padding: 28px 16px;

  position: absolute;
  z-index: 99;
}

.headerContent {
  max-width: 1500px;
  width: 100%;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.headerFirstRow {
  width: 100%;

  padding-bottom: 20px;
  margin-bottom: 20px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socialLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: clamp(16px, 2.89vw, 32px);

  color: white;
}

.socialLinks a {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Instrument Sans";
  font-size: clamp(12px, 1.44vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 132%;
  letter-spacing: 2.08px;
  text-transform: uppercase;
}

.headerSecondRow {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigationLinks {
  display: flex;
  align-items: center;
  gap: clamp(16px, 1.95vw, 25px);

  color: white;
}

.navigationLinks a {
  text-transform: uppercase;
}

.contactLinks {
  display: flex;
  align-items: center;
  gap: clamp(28px, 3.12vw, 40px);

  color: white;
}

.contactLinkItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contactLinkItemIconWrapper {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #2de046;
  border-radius: 50%;
}

.contactLinkItem:hover .contactLinkItemIconWrapper {
  background: rgba(45, 224, 69, 0.25);
  transition: 1s ease-in-out all;
}

.contactLinkItemText {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.contactLinkItemText:hover {
  color: #2de046;
  transition: 1s ease-in-out all;
}

.link,
.menuButton {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Instrument Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 132%;
  letter-spacing: 2.08px;
  text-transform: uppercase;
  display: inline-flex;
}

.menuButton svg {
  margin-left: 5px;
  transform: translateY(2px);
  margin-right: -5px;
}

.link:hover,
.menuButton:hover {
  color: #2de046;
  transition: 1s ease-in-out all;
}

.menuItems {
  position: absolute;
  margin-top: 0.5rem;

  width: 260px;
  display: flex;
  flex-direction: column;
  padding: 22px;

  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #1a1b21;
}
.menuItems > *:last-child {
  border: none;
}

.relative:hover .menuItems {
  display: block;
}

.menuItem {
  max-width: 220px;
  width: 100%;
  margin: 0 auto;
  padding: 12px;
  font-size: 14px;
  color: #c0c0c0;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.menuItem:hover {
  color: #2de046;
  transition: 0.3ms ease-in-out all;
}

.menuIcon {
  display: none;
  cursor: pointer;
}

.mobileMenu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;

  display: flex;
  height: auto;
  flex-direction: column;

  gap: 20px;
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  background: rgba(0, 0, 0, 0.92);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  color: #c0c0c0;
  z-index: 100;
}

.mobileMenu.open {
  right: 0;
}

.logoMobileContainer {
  max-width: 256px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: fit-content;
}
.menuLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 42px;
  gap: 32px;
}

.subMenu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 1rem;
}

.subLinkMobile {
  display: block;
  padding: 0.5rem 1rem;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Instrument Sans";
  font-size: clamp(12px, 1.44vw, 16px);
  font-weight: 400;
  line-height: 132%;
  letter-spacing: 2.08px;
  text-transform: uppercase;
  text-decoration: none;
}
.closeMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 14rem;
}

.linkMobile {
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  color: rgba(255, 255, 255, 0.9);
  font-family: "Instrument Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 132%;
  letter-spacing: 2.08px;
  text-transform: uppercase;
  cursor: pointer;
}

.contactLinksMobile {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1220px) {
  .contactLinks {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media (max-width: 1120px) {
  .contactLinkItem {
    display: none;
  }
  .contactLinks {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .desktopNavLinks {
    display: none;
  }
  .menuIcon {
    display: block;
  }

  .menuHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
