.bioEducationContainer {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.titleContainer {
  display: flex;
  flex-firection: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: clamp(18px, 2.89vw, 32px);
  font-weight: 500;
  line-height: 132%;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  font-family: "Instrument Sans";

  color: #fff;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
}

.descriptionTitle {
  color: #fff;
  font-family: "Instrument Sans";
  font-size: clamp(16px, 2.32vw, 28px);
  font-style: normal;
  font-weight: 500;
  line-height: 132%;
  letter-spacing: -0.56px;
  text-transform: capitalize;
}
.description {
  color: #cecece;
  font-family: "Instrument Sans";
  font-size: clamp(16px, 1.84vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
