@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --champions-green: #2de046;
  --champions-blue: #093376;
}

.font-instrument-sans {
  font-family: var(--font-instrument-sans);
}

.font-instrument-serif {
  font-family: var(--font-instrument-serif);
}

*:not(svg, img, svg *) {
  font-family: var(--font-instrument-sans);
  color: #fff;
  line-height: 130%;
}

#__next {
  max-width: 100vw;
  width: 100%;

  overflow-x: hidden;
}

html {
  scroll-behavior: smooth !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo-slider .swiper-wrapper {
  transition-timing-function: linear;
}

#results-container::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

#portable-text-wrapper > ul,
#portable-text-wrapper > ol {
  line-height: 2.5;
}

#portable-text-wrapper > h1,
#portable-text-wrapper > h2,
#portable-text-wrapper > h3,
#portable-text-wrapper > h4,
#portable-text-wrapper > h5,
#portable-text-wrapper > h6 {
  color: white !important;
  font-weight: 600 !important;
}

#portable-text-wrapper > h1 {
  font-size: clamp(24px, 4vw, 36px);
  padding: 32px 0 20px;
}

#portable-text-wrapper > h2 {
  font-size: clamp(20px, 3.55vw, 30px);
  padding: 20px 0;
}

#portable-text-wrapper > h3 {
  font-size: clamp(18px, 2.22vw, 24px);
  padding: 20px 0 12px;
}

#portable-text-wrapper > h4 {
  font-size: clamp(16px, 1.85vw, 20px);
  padding: 20px 0 12px;
}

#portable-text-wrapper > h5 {
  font-size: clamp(16px, 1.66vw, 18px);
  padding: 20px 0 12px;
}

#portable-text-wrapper > h6 {
  font-size: clamp(12px, 1.48vw, 16px);
  padding: 20px 0 12px;
}

#portable-text-wrapper > a {
  text-decoration: underline;
}

#portable-text-wrapper > p {
  font-size: clamp(16px, 1.66vw, 18px);
  padding: clamp(4px, 0.74vw, 8px) 0 clamp(8px, 1.11vw, 12px);
  color: #cecece;
  opacity: 0.8;
}

#portable-text-wrapper b,
#portable-text-wrapper strong {
  font-weight: 500 !important;
}

#portable-text-wrapper > img {
  width: 100%;
  height: auto;
  /* Adjusted for proper aspect ratio */
  margin: 16px 0;
  border: 1px solid #e2e8f0;
}

#portable-text-wrapper > ul {
  margin: 16px 0;
  padding-left: 17px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  color: #cecece;
  opacity: 0.8;
}

#portable-text-wrapper > ul > li {
  list-style: initial;
  font-size: clamp(16px, 1.66vw, 18px);
}

#portable-react-player > div,
#react-player-wrapper > div {
  width: 100% !important;
  height: fit-content !important;

  margin: 16px 0;
}

#portable-react-player iframe,
#react-player-wrapper iframe {
  width: 100% !important;
  height: fit-content !important;

  aspect-ratio: 16/9 !important;
}
