@tailwind base;
@tailwind components;
@tailwind utilities;

.font-instrument-sans {
  font-family: var(--font-instrument-sans);
}

.font-instrument-serif {
  font-family: var(--font-instrument-serif);
}

*:not(svg, img, svg *) {
  font-family: var(--font-instrument-sans);
  color: #fff;
  line-height: 130%;
}

#__next {
  max-width: 100vw;
  width: 100%;

  overflow-x: hidden;
}

html {
  scroll-behavior: smooth !important;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#results-container::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
