.caseSuccessCardContainer {
  width: 100%;
  height: fit-content;
}

.caseSuccessCardContent {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cardContainer {
  max-width: 536px;
  height: auto;
  gap: clamp(10px, 3.13vw, 36px);
  padding: 60px 48px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: 1px solid #083376;
}

.cardHeader {
  color: #2de046;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: "Instrument Sans";
  font-size: clamp(20px, 1.82vw, 26px);
  font-style: normal;
  font-weight: 500;
  line-height: 132%; /* 34.32px */
  letter-spacing: -0.52px;
  text-transform: uppercase;
}

.cardHeader span {
  color: #fff;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.cardTitle {
  text-align: center;

  font-size: clamp(40px, 5.84vw, 26px);
  font-weight: 400;
  line-height: 132%;
  text-transform: capitalize;
  font-family: "Instrument Serif";

  color: #fff;
}

.cardDescription {
  text-align: center;

  font-size: clamp(16px, 2.14vw, 22px);
  font-weight: 400;
  line-height: 132%;
  letter-spacing: -0.44px;

  text-transform: uppercase;
  font-family: "Instrument Sans";

  color: #cecece;
}

.linkDetails {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 18px;
  font-weight: 500;
  line-height: 132%;
  letter-spacing: -0.36px;

  text-transform: uppercase;
  text-decoration-line: underline;
  font-family: "Instrument Sans";

  color: #fff;
}

.arrowIcon {
  margin-left: -10px;
}

@media (max-width: 1020px) {
  .caseSuccessCardContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .caseSuccessCardContent {
    display: grid;
    grid-template-columns: 1fr;
  }
  .cardContainer {
    width: 100%;
    margin: 0 auto;
  }
}
