.sectionContainer {
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid #083376;
}

.contentContainer {
  max-width: 1600px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 42px;
}

.heading {
  padding-top: 32px;
  padding-bottom: 82px;
  padding-left: 48px;

  width: 100%;

  font-size: clamp(50px, 8.42vw, 84px);
  font-weight: 400;
  line-height: 132%;
  letter-spacing: 0.84px;
  text-transform: capitalize;
  font-family: "Instrument Serif";

  color: #fff;
}

.questionsContainer {
  width: 100%;
  max-width: 736px;
  padding-left: 48px;
  display: flex;
  flex-direction: column;
}

.questionItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  border-bottom: 1px solid #083376;
}

.questionItemOpen {
  background: linear-gradient(
    28deg,
    rgba(255, 255, 255, 0) 0.99%,
    rgba(255, 255, 255, 0.15) 98.86%
  );
}

.questionHeader {
  width: 100%;
  padding: 32px;
  gap: 42px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
}

.questionText {
  font-weight: 500;
  font-size: 24px;
  text-transform: capitalize;
  font-family: "Instrument Sans";
}

.questionTextClosed {
  font-size: 20px;
  font-weight: 400;
  line-height: 132%;
  letter-spacing: -0.4px;
  font-family: "Instrument Sans";

  color: #fff;
}

.questionClosed {
  opacity: 0.7;
  color: #fff;
}

.questionOpen {
  font-size: 32px;
}
.iconClosed {
  font-size: 32px;
}
.iconContainer {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.iconOpen {
  color: #2de046;
  transition: all 0.3s ease-in-out;
}

.answerText {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;

  font-size: 16px;
  font-weight: 400;
  line-height: 132%;
  letter-spacing: -0.32px;
  font-family: "Instrument Sans";

  color: #fff;
}

.mediaContainer {
  display: flex;
  justify-content: flex-end;
}

.faqMedia {
  max-width: 788px;
  max-height: 701px;
}
.linkList {
  display: flex;
  flex-direction: column;
  height: 200px;
  gap: 10px;
  overflow-y: auto;
  scrollbar-width: none;

  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
}

.linkList::-webkit-scrollbar {
  display: none;
}

.bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #2de046;
  margin-right: 10px;
}

.linkItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linkText {
  font-size: clamp(12px, 1.48vw, 16px);
  font-weight: 400;
  line-height: 132%;
  letter-spacing: -0.32px;
  font-family: "Instrument Sans";
  cursor: pointer;
  color: #8d8d8d;
}

.linkText:hover {
  color: #fff;
}

@media (max-width: 1387px) {
  .faqMedia {
    max-width: 500px;
    max-height: 500px;
  }
}

@media (max-width: 1024px) {
  .contentContainer {
    flex-direction: column;
    align-items: center;
    gap: clamp(40px, 8.88vw, 64px);
  }

  .questionsContainer {
    margin: 0 auto;
  }
  .faqMedia {
    max-width: 400px;
    max-height: 400px;
  }
}

@media (max-width: 950px) {
  .faqMedia {
    display: none;
  }
  .heading {
    padding-bottom: 32px;
  }
}
