.contentSwitcherContainer {
  width: 100%;
  height: fit-content;
}

.contentSwitcherContent {
  max-width: 1600px;
  margin: 0 auto;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonSwitch {
  width: 800px;
  height: 88px;

  font-size: clamp(18px, 3.5vw, 28px);
  font-weight: 400;
  line-height: 132%;
  letter-spacing: -1.12px;
  text-transform: capitalize;
  font-family: "Instrument Sans";

  color: #fff;
  cursor: pointer;
  border-bottom: 2px solid #083376;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.buttonSwitch span {
  font-size: clamp(14px, 2.45vw, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 132%;
  letter-spacing: -0.72px;
  text-transform: capitalize;
  /* font-family: "Instrument Sans"; */
}

.buttonSwitch.active {
  color: #fff;
  border-bottom: 2px solid #2de046;
}

.contentWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 68px;
  padding: 100px 175px;
}

.imageContainer {
  width: 700px;
  height: 420px;
}

.textsContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.titleSwitch {
  font-size: clamp(32px, 4.57vw, 42px);
  font-weight: 400;
  line-height: 132%;
  letter-spacing: 0.42px;
  text-transform: capitalize;

  color: #fff;
}
.titleSwitch span {
  color: #2de046;
}

.descriptionSwitch {
  font-size: 18px;
  font-weight: 400;
  line-height: 132%;
  letter-spacing: -0.36px;

  color: #fff;
}

.homeAboutButton {
  width: 220px;
  height: 48px;

  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 132%;
  letter-spacing: -0.28px;
  text-transform: uppercase;
  /* font-family: "Instrument Sans"; */

  border: 1px solid #1055c1;
  background: rgba(16, 85, 193, 0.2);
}

@media (max-width: 1165px) {
  .contentWrapper {
    padding: 100px 80px;
  }
}
@media (max-width: 920px) {
  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 520px) {
  .imageContainer {
    display: none;
  }
}
