.cardImageContainer {
  display: flex;
  position: relative;
  max-width: 100%;
  max-height: fit-content;

  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 78.32%, rgba(0, 0, 0, 0.7) 100%),
    lightgray -72.42px -14.967px / 128.424% 128.956% no-repeat,
    linear-gradient(
      208deg,
      rgba(255, 255, 255, 0.1) 1.14%,
      rgba(255, 255, 255, 0) 99.01%
    );
}

.cardWrapper {
  max-width: 500px;
}

.cardContent {
  max-width: 485px;
  position: absolute;
  bottom: 10px;
  left: 20px;

  display: flex;
  flex-direction: column;

  gap: clamp(16px, 1.84vw, 20px);
  z-index: 100;
}

.imageContent {
  max-width: 400px;
}

.cardName {
  font-size: clamp(24px, 2.79vw, 32px);
  font-weight: 500;
  line-height: 132%;
  letter-spacing: -0.64px;
  font-family: "Instrument Sans";

  color: #fff;
}

.separator {
  width: 300px;
  height: 1px;
  background: #2de046;
}

.cardFooter {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.professionalPosition {
  color: #fff;
  font-size: clamp(14px, 1.81vw, 18px);
  font-weight: 500;
  line-height: 132%;
  text-transform: capitalize;
  font-family: "Instrument Sans";
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 1345px) {
  .cardContainer {
    max-width: 450px;
  }
  .imageContent {
    max-width: 350px;
  }
}
