.terrysTakesCardContainer {
  width: 100%;
  height: fit-content;
}

.terrysTakesCardContent {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.terrysTakesCard {
  max-width: 536px;
  height: auto;
  gap: clamp(14px, 1.8vw, 24px);
  padding: clamp(42px, 4.52vw, 60px) 48px;

  display: flex;
  flex-direction: column;

  border: 1px solid #083376;
}

.date {
  font-size: clamp(12px, 2.28vw, 16px);
  font-weight: 400;
  line-height: 132%;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  font-family: "Instrument Sans";

  color: #2de046;
}

.header {
  font-size: clamp(12px, 2.28vw, 16px);
  font-weight: 400;
  line-height: 132%;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  font-family: "Instrument Sans";

  color: #8d8d8d;
}

.title {
  font-size: clamp(20px, 1.82vw, 26px);
  font-weight: 500;
  line-height: 132%;
  letter-spacing: -0.52px;
  font-family: "Instrument Sans";

  color: #fff;
}

.description {
  font-size: clamp(14px, 1.45vw, 18px);
  font-weight: 400;
  line-height: 132%;
  letter-spacing: -0.36px;
  font-family: "Instrument Sans";

  color: #8d8d8d;
}

.linkDetails {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: clamp(14px, 1.45vw, 18px);
  font-weight: 500;
  line-height: 132%;
  letter-spacing: -0.36px;

  text-transform: uppercase;
  text-decoration-line: underline;
  font-family: "Instrument Sans";

  color: #fff;
}

.arrowIcon {
  margin-left: -10px;
}

@media (max-width: 950px) {
  .terrysTakesCardContent {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }

  .terrysTakesCard {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 580px) {
  .terrysTakesCard {
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .terrysTakesCard {
    max-width: 380px;
  }
}
