.buttonBase {
  width: fit-content;
  height: fit-content;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
}

.sizeSmall {
  padding: 10px clamp(12px, 2.5vw, 20px);
  font-size: 14px;
}

.sizeMedium {
  padding: 16px clamp(16px, 3.55vw, 32px);
  font-size: 16px;
}

.sizeLarge {
  padding: 20px clamp(20px, 4.5vw, 40px);
  font-size: 18px;
  width: 100%;
}

.green {
  border: 1px solid #2de046;
  background: rgba(45, 224, 70, 0.1);
}

.green:hover {
  background: rgba(45, 224, 70, 0.2);
  transition: all 0.3s ease-in-out;
}

.blue {
  border: 1px solid #1055c1;
  background: rgba(16, 85, 193, 0.2);
}

.blue:hover {
  background: rgba(16, 85, 193, 0.3);
  transition: all 0.3s ease-in-out;
}
