.locationsDetailsContainer {
  width: 100%;
  height: fit-content;
}

.locationsDetailsContent {
  max-width: 1600px;
  margin: 0 auto;
  padding: 28px 48px;
  gap: 120px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  aling-items: center;
}

.locationsdatas {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  gap: 32px;
}

.titleLocations {
  max-width: 350px;
  font-size: 42px;
  font-weight: 400;
  line-height: 132%;
  letter-spacing: -1.84px;
  text-transform: uppercase;
  font-family: "Instrument Sans";

  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-decoration-color: #2de046;

  color: #fff;
}

.addressText {
  align-self: stretch;
  max-width: 260px;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  /* font-family: "Instrument Sans"; */

  color: #cecece;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 132%;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  text-decoration-line: underline;
  font-family: "Instrument Sans";

  color: #fff;
}
