.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.articleText {
  color: #cecece;
  font-size: clamp(14px, 1.81vw, 18px);
}
